<h1>Books</h1>
<% @books.each do |post| %>
  <p>Title</p>
  <span><%= post.title %></span>
  <p>Opinion</p>
  <span><%= post.body %></span>

<td><%= link_to "削除", books_path(@books), method: :destroy %></td>